<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="SP10P2\SP10_TestWork2_Connection" connectionString="XpoProvider=MSSqlServer;data source=SP10P2\SP10;integrated security=SSPI;initial catalog=TestWork2"/>
        <add name="SP10P2\SP10_TestWork2_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=SP10P2\SP10;integrated security=SSPI;initial catalog=TestWork2"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
